<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="images/favicon.png">
</head>

<body>
    <div id="full-contents">
        <%- include('partials/header.ejs') %>
        <div id="page-contents">
            <div id="todo-items" class="grid-container">
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
                <div class="todo-item">
                    <div class="metadata">
                        <div class="title">
                            <h2>Title</h2>
                        </div>
                        <div class="creation-date">
                            <h2>Created:</h2>
                        </div>
                        <div class="Due-date">
                            <h2>Due: </h2>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Et netus et malesuada fames. Sollicitudin tempor id eu nisl
                            nunc mi. Nunc congue nisi vitae suscipit tellus mauris. Habitant morbi tristique senectus et
                            netus et. Platea dictumst quisque sagittis purus sit. Adipiscing elit ut aliquam purus sit
                            amet luctus. Nisi scelerisque eu ultrices vitae auctor eu. Fermentum posuere urna nec
                            tincidunt praesent semper. Consectetur a erat nam at. Nec feugiat nisl pretium fusce id
                            velit ut tortor.</h4>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
</body>

</html>